<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Convezy</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootbox@5.3.2/bootbox.all.min.js"></script>
	<link href="style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
	<style>
		/* body {
			font-family: Arial, Helvetica, sans-serif;
			font-size: 20px;
		} */

		#myBtn {
			display: none;
			position: fixed;
			bottom: 20px;
			right: 30px;
			z-index: 99;
			font-size: 18px;
			border: none;
			outline: none;
			background-color: #28a745;
			color: white;
			cursor: pointer;
			padding: 15px;
			border-radius: 4px;
		}

		#myBtn:hover {
			background-color: #555;
		}
	</style>
</head>

<body>
	<button onclick="topFunction()" id="myBtn" title="Go to top">Get Started</button>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-md navbar-light navBG sticky-top">
		<div class="container-fluid">
			<!-- Insert LOGO on the nav -->
			<a class="navbar-brand" href="./guestHome.html"><img src="img/NavLogo.png"></img></a>
			<!-- Menu Icon -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- Creating menus link -->
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<!-- ml-auto will move links to the right side of navbar -->
				<ul class="navbar-nav ml-auto">
					<!-- active is to highlight -->
					<li class="nav-item active">
						<a class="nav-link" href="./guestHome.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./aboutUs.html">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./signUp.html">Sign-up</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="./login.html">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="guesthome-image">
		<div class="guesthome-text">
			<h1 style="font-size:50px">Let your clothing becomes fantastic !</h1>
			<p style="font-size:20px">Join us</p>
			<button onclick="topFunction()" class="btn btn-lg">Get Started</button>
		</div>
	</div>
	<br>
			<div class="feedback-image">
				
				</div>
<!--- Welcome Section -->
<!-- <div class="container-fluid padding navBG"> -->
		<!-- <div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Feedbacks</h1>
			</div>
			<hr>
			<div class="col-12">
				<h3 class="lead">Feedbacks from users</h3>
			</div>
		</div>
	</div> -->

	- Three Column Section -->
	 <div class="container-fluid padding navBG">
		<div class="row text-center padding"> 
			<!-- Creating first one -->
			<div class="col-md-4">

					<div class="card" style="width:60%; height:auto;">
							<img class="card-img-top" src="img/people1.jpg" alt="Card image">
							<div class="card-img-overlay">
							</div>
						</div> 
				<p>"I always busy farming. This web app is really useful and made my life easier."</p>
				<h4>Said John</h4>
			</div>
			<!-- Creating sec one -->
			<div class="col-md-4">
					<div class="card ml-5" style="width:50%; height:auto;">
							<img class="card-img-top" src="img/people2.jpg" alt="Card image">
							<div class="card-img-overlay">
							</div>
						</div>
				
				<p>"I need this web app to remind myself what outfits I have."</p>
				<h4>Said Jims</h4>
			</div>
			<!-- Creating third one  -->
			<<div class="col-md-4">
					<div class="card ml-5" style="width:60%; height:auto;">
							<img class="card-img-top" src="img/people3.jpg" alt="Card image">
							<div class="card-img-overlay">
							</div>
						</div>
				
				<p>"I always use this web app to define what to wear in weeks."</p>
				<h4>Said Lory</h4>
			</div>
		</div>
		<hr class="my-4">
	</div>




	<div class="container-fluid padding navBG">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4">Community</h1>
				<hr>
				<br><br><br>
			</div>
		


			<!--- presets Cards -->
			<div class="container-fluid padding">
				<div class="row padding">
					<!--- Cards -->
					<div class="container-fluid padding">
						<div class="row padding" >
							<!-- name card -->
							<div class="col-md-4">
								<h4 class="">Jagger Set</h4>
								<p class="">By Mr.Jones</p>
								<p class="">Male Set For beaching</p>
								<a href="./signUp.html" class="btn btn-dark btn-lg">VIEW</a>
							</div>
							<!-- first card -->	
							<div class="col-md-2">
								<div class="card " style="width:100%; height:auto;">
									<img class="card-img-top" src="img/jag1.png" alt="Card image">
									<div class="card-img-overlay">
									</div>
								</div>
							</div>
							<!-- sec card -->
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/jag2.png" alt="Card image">

								</div>
							</div>
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/jag3.png" alt="Card image">

								</div>
							</div>
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/jag4.png" alt="Card image">

								</div>
							</div>
						</div>
						<hr>
					</div>
				</div>
			</div>

			<!--- presets Cards -->
			<div class="container-fluid padding " >
				<br>
				<div class="row padding">
					<!--- Cards -->
					<div class="container-fluid padding">
						<div class="row padding">
							<!-- name card -->
							<div class="col-md-4">
								<h4 class="">Luffy Set</h4>
								<p class="">By Mr.Hiroshi</p>
								<p class="">Male Set for any trip</p>
								<a href="./signUp.html" class="btn btn-dark btn-lg">VIEW</a>
							</div>
							<!-- first card -->
							<div class="col-md-2">
								<div class="card " style="width:100%; height:auto; ">
									<img class="card-img-top" src="img/luffy1.png" alt="Card image">
									<div class="card-img-overlay">
									</div>
								</div>
							</div>
							<!-- sec card -->
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/luffy2.png" alt="Card image">

								</div>
							</div>
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/luffy3.png" alt="Card image">

								</div>
							</div>
							<div class="col-md-2">
								<div class="card" style="width:100%; height:auto;">
									<img class="card-img-top" src="img/luffy4.png" alt="Card image">

								</div>
							</div>
						</div>
									<hr>
					</div>
				</div>
			</div>


		</div>
	</div>




	<!--- Connect -->
	<div class="container-fluid padding ">
		<div class="row text-center padding">
			<div class="col-12">
				<h2>Connect</h2>
			</div>
			<div class="col-12 social padding">
				<a href="https://www.facebook.com/Convezy-100773001333766/" class="fab fa-facebook"></a>
				<a href="#" class="fab fa-twitter"></a>
				<a href="#" class="fab fa-google-plus-g"></a>
				<a href="#" class="fab fa-instagram"></a>
				<a href="#" class="fab fa-youtube"></a>
			</div>
		</div>
	</div>

	<!--- Footer -->
	<footer>
		<div class="container-fluid mt-5 navBG">
			<div class="row text-center">
				<div class="col-md-4">
					<img src="img/NavLogo.png"></img>
					<hr class="dark">
					<p class="text-dark">555-555-5555</p>
					<p class="text-dark">email@myemail.com</p>
					<p class="text-dark">100 Street Name</p>
				</div>
				<div class="col-md-4">
					<hr class="dark">
					<h5 class="text-dark">Our hours</h5>
					<hr class="dark">
					<p class="text-dark">Monday: 9am - 5pm</p>
				</div>
				<div class="col-md-4">
					<hr class="dark">
					<h5 class="text-dark">Service Area</h5>
					<hr class="dark">
					<p class="text-dark">City, State, 00000</p>

				</div>
				<div class="col-12">
					<hr class="dark">
					<h5 class="text-dark">&copy; convezy.com</h5>
				</div>
			</div>
		</div>
	</footer>

	<script>
		//Get the button
		var mybutton = document.getElementById("myBtn");

		// When the user scrolls down 20px from the top of the document, show the button
		window.onscroll = function () { scrollFunction() };

		function scrollFunction() {
			if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
				mybutton.style.display = "block";
			} else {
				mybutton.style.display = "none";
			}
		}

		// When the user clicks on the button, scroll to the top of the document
		function topFunction() {
			window.location.replace("./signUp.html");
		}
	</script>
</body>

</html>