<!DOCTYPE html>
<html lang="th">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
  <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
  <title>ค้นหาที่จอดรถ</title>
</head>
<script>
  var memberID = localStorage.MemberID
  var currentID, UserID;
  var memberFirstname, memberLastname;
  $(document).ready(function () {
    $("#tabRequest").hide();
    $("#tabInfo").hide();
    $("#btnTabSearch").css({
      'background-color': '#007bff',
      'color': 'white'
    });
    $("#btnTabRequest").css({
      'background-color': '#6c757d',
      'color': 'white'
    });
    $("#btnTabInfo").css({
      'background-color': '#6c757d',
      'color': 'white'
    });

    $("#btnReload").click(function (e) {
      window.location.replace("/searchParking");
    });
    $('#btnSignOut').click(function (e) {
      localStorage.removeItem("memberID");
      window.location.replace('/')
    });
    $("#btnTabSearch").click(function (e) {
      $("#tabSearch").show();
      $("#tabRequest").hide();
      $("#tabInfo").hide();
      $("#btnTabSearch").css({
        'background-color': '#007bff',
        'color': 'white'
      });
      $("#btnTabRequest").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
      $("#btnTabInfo").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
    });
    $("#btnTabRequest").click(function (e) {
      $("#tabRequest").show();
      $("#tabSearch").hide();
      $("#tabInfo").hide();
      $("#btnTabRequest").css({
        'background-color': '#007bff',
        'color': 'white'
      });
      $("#btnTabSearch").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
      $("#btnTabInfo").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
    });

    $("#btnTabInfo").click(function (e) {
      $("#tabInfo").show();
      $("#tabSearch").hide();
      $("#tabRequest").hide();
      $("#btnTabInfo").css({
        'background-color': '#007bff',
        'color': 'white'
      });
      $("#btnTabSearch").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
      $("#btnTabRequest").css({
        'background-color': '#6c757d',
        'color': 'white'
      });
    });
    loaddata()
  });

  function loaddata() {
    if (localStorage.memberID) {
      window.location.replace("/toggleStatus");
    }
    $.ajax({
      type: "get",
      url: "/getMemberInfo/" + memberID,
      success: function (dataSet) {
        memberFirstname = dataSet[0].Firstname;
        memberLastname = dataSet[0].Lastname;
        // alert(memberFirstname + " " + memberLastname)
      }
    });

    CurrentTable = $('.table1').DataTable({
      "searching": true,
      "lengthChange": true,
      "paging": true,
      "ordering": true,
      "info": true,
      responsive: true,
      deferRender: true,
      columns: [
        { data: "Location", title: "ชื่อบริการ" },
        { data: "Description", title: "คำอธิบาย" },
        { data: "Geo", title: "ภูมิภาค" },
        { data: "Province", title: "จังหวัด" },
        { data: "Amphur", title: "อำเภอ" },
        { data: "District", title: "ตำบล" },
        { data: "SupportCar", title: "ตำแหน่งที่จอดว่าง" },
        { data: "Activation", title: "สถานะ" },
        { data: "Button", title: "แจ้งว่าต้องการจอด" },

      ],

    });

    CurrentTable2 = $('.table2').DataTable({
      "searching": true,
      "lengthChange": true,
      "paging": true,
      "ordering": true,
      "info": true,
      responsive: true,
      deferRender: true,
      columns: [
        { data: "RequestID", title: "หมายเลขคำแจ้งจอด" },
        { data: "Day", title: "วันที่" },
        { data: "Month", title: "เดือน" },
        { data: "Year", title: "ปี" },
        { data: "Time", title: "วันที่" },
        { data: "Confirmation", title: "การตอบรับ" }

      ],

    });

    $.ajax({
      type: "get",
      url: "/getStatus/",
      success: function (dataSet) {
        console.log(dataSet)
        for (let i = 0; i < dataSet.length; i++) {
          dataSet[i].SupportCar = dataSet[i].SupportCar + " ที่"
          dataSet[i].Button = `<button class='btn btn-primary btnSearch' value='{"UserID":"` + dataSet[i].UserID + `","Location":"` + dataSet[i].Location + `"}'>ส่งคำแจ้ง</button>`
        }

        //clear DataTable
        CurrentTable.clear();
        //display modified JSON in DataTable
        CurrentTable.rows.add(dataSet).draw();
        $(".btnSearch").click(function () {
          let current_datetime = new Date();
          var str = $(this).val();
          var val = $.parseJSON(str);
          UserID = val.UserID
          $("#txtYear").val(current_datetime.getFullYear());
          $("#txtMonth").val((current_datetime.getMonth() + 1));
          $("#txtDay").val(current_datetime.getDate());
          $("#modalReserve").modal("show");
        });
        $(".btnSearchOk").click(function () {
          const txtYear = $("#txtYear").val();
          const txtMonth = $("#txtMonth").val();
          const txtTime = $("#txtTime option:selected").val();
          const txtDay = $("#txtDay").val();
          const txtFirstname = memberFirstname;
          const txtLastname = memberLastname;
          const confirmation = "ยังไม่ได้รับการตอบรับ"
          $.ajax({
            method: "POST",
            url: "/sendRequest",
            data: { UserID: UserID, MemberID: memberID, RequesterFirstname: txtFirstname, RequesterLastname: txtLastname, Day: txtDay, Month: txtMonth, Year: txtYear, Time: txtTime, Confirmation: confirmation }
          }).done(function (data, state, xhr) {
            alert("ส่งคำแจ้งเรียบร้อยแล้ว ท่านสามารถตรวจสอบสถานะได้ที่แถบ 'ตรวจสอบคำขอ'")
            window.location.replace("/searchParking");
          }).fail(function (xhr, state, error) {
            alert("xhr")
          })
          $("#modalReserve").modal("hide");
        });
      }
    });

    $.ajax({
      type: "get",
      url: "/getRequestInfo/" + memberID,
      success: function (dataSet) {
        console.log(dataSet)

        //clear DataTable
        CurrentTable2.clear();
        //display modified JSON in DataTable
        CurrentTable2.rows.add(dataSet).draw();
      }
    });

  }

</script>

<body>
  <div class="modal" id="modalReserve" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ส่งคำขอแจ้งจอดรถ</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>โปรดระบุ "วันที่" ที่ต้องการเข้าจอด</p>
          <div class="row">
            <div class="col-md-4">
              วันที่
              <input type="text" id="txtDay" placeholder="วันที่" style="width: 50%;">
            </div>
            <div class="col-md-4">
              เดือน
              <input type="text" id="txtMonth" placeholder="เดือน" style="width: 50%;">
            </div>
            <div class="col-md-4">
              ปี
              <input type="text" id="txtYear" placeholder="ปี" style="width: 50%;">
            </div>
          </div>
          <p class="mt-3">โปรดระบุ "ช่วงเวลา" ที่ต้องการเข้าจอด</p>
          <div class="row">
            <div class="col-md-12">
              เวลา
              <select id="txtTime">
                <option value="00:00 น.">00:00 น.</option>
                <option value="01:00 น.">01:00 น.</option>
                <option value="02:00 น.">02:00 น.</option>
                <option value="03:00 น.">03:00 น.</option>
                <option value="04:00 น.">04:00 น.</option>
                <option value="05:00 น.">05:00 น.</option>
                <option value="06:00 น.">06:00 น.</option>
                <option value="07:00 น.">07:00 น.</option>
                <option value="08:00 น.">08:00 น.</option>
                <option value="09:00 น.">09:00 น.</option>
                <option value="10:00 น.">10:00 น.</option>
                <option value="11:00 น.">11:00 น.</option>
                <option value="12:00 น.">12:00 น.</option>
                <option value="13:00 น.">13:00 น.</option>
                <option value="14:00 น.">14:00 น.</option>
                <option value="15:00 น.">15:00 น.</option>
                <option value="16:00 น.">16:00 น.</option>
                <option value="17:00 น.">17:00 น.</option>
                <option value="18:00 น.">18:00 น.</option>
                <option value="19:00 น.">19:00 น.</option>
                <option value="20:00 น.">20:00 น.</option>
                <option value="21:00 น.">21:00 น.</option>
                <option value="22:00 น.">22:00 น.</option>
                <option value="23:00 น.">23:00 น.</option>
              </select>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btnSearchOk">ส่งคำแจ้ง</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-md navbar-light navBG sticky-top">
    <div class="container-fluid">
      <!-- Insert LOGO on the nav -->
      <a class="navbar-brand" href="/"><img src="img/NavLogo.png"></img></a>
      <!-- Menu Icon -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Creating menus link -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <!-- ml-auto will move links to the right side of navbar -->
        <ul class="navbar-nav ml-auto">
          <!-- active is to highlight -->
          <button class="btn btn-danger" id="btnSignOut">ออกจากระบบ</button>
        </ul>
      </div>
    </div>
  </nav>
  <div class="row centered">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron jumbotron text-white">
        <div class="container row">
          <div class="col-md-4"><button class="btn w-100" id="btnTabSearch">ค้นหาที่จอดรถ</button></div>
          <div class="col-md-4"><button class="btn w-100" id="btnTabRequest">ตรวจสอบคำขอจอด</button></div>
          <div class="col-md-4"><button class="btn w-100" id="btnTabInfo">ข้อมูลส่วนตัว</button></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row centered" id="tabSearch">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron jumbotron text-white">
        <div class="container row">
          <div class="col-md-12"></div>
          <h2>ค้นหาที่จอดรถ</h2>
          <button class="btn btn-success" id="btnReload">โหลดข้อมูลใหม่</button>
          <table class="table table1 table-striped table-bordered mt-5" style="width:100%"></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row centered" id="tabRequest">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron jumbotron text-white">
        <div class="container row">
          <div class="col-md-12"></div>
          <h2>ตรวจสอบคำขอจอดรถ</h2>
          <table class="table table2 table-striped table-bordered mt-5" style="width:100%"></table>
        </div>
      </div>
    </div>
  </div>
  <div class="row centered" id="tabInfo">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="jumbotron jumbotron text-white">
        <div class="container row">
          <div class="col-md-12"></div>
          <h2>ค้นหาที่จอดรถ</h2>
          <button class="btn btn-success" id="btnReload">โหลดข้อมูลใหม่</button>
          <table class="table table-striped table-bordered mt-5" style="width:100%"></table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  </div>

  <!--- Footer -->
  <footer>
    <div class="container-fluid mt-5 navBG">
      <div class="row text-center">
        <div class="col-md-4 mt-1">
          <a href="/"> <img src="img/NavLogo.png"></img></a>
          <hr class="dark">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEz-Parking-100529508543981%2F&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-md-4">
          <hr class="dark">
          <h5 class="text-dark">ติดต่อสอบถามเรา</h5>
          <hr class="dark">
          <p class="text-dark">Facebook: Ez Parking</p>
        </div>
        <div class="col-md-4">
          <hr class="dark">
          <h5 class="text-dark">ชั่วโมงการติดต่อ</h5>
          <hr class="dark">
          <p class="text-dark">จ-ศ: 9:00-16:00</p>

        </div>
        <div class="col-12">
          <hr class="dark">
          <h5 class="text-dark">&copy; ezparkingthailand.space</h5>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
<style>
  body {
    display: table;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/parkingspace.jpg');
    background-position: center top;
    height: 350px;
  }

  .jumbotron {
    background-color: gray
  }

  .centered {
    position: relative;
    top: 100px;
  }
</style>