<!DOCTYPE html>
<html lang="th">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/dataTables.responsive.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.3/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>ตรวจสอบสถานะที่จอดรถ</title>
</head>
<script>
    var userid = localStorage.UserID
    $(document).ready(function () {
        loaddata()

        $("#btnReload").click(function (e) {
            window.location.replace("/searchParking");
        });
    });

    function loaddata() {
        if (localStorage.UserID) {
            window.location.replace("/toggleStatus");
        }

        CurrentTable = $('.table').DataTable({
            "searching": true,
            "lengthChange": true,
            "paging": true,
            "ordering": true,
            "info": true,
            responsive: true,
            deferRender: true,
            columns: [
                { data: "No", title: "ลำดับ" },
                { data: "Location", title: "ชื่อสถานที่จอดรถ" },
                { data: "Activation", title: "สถานะ" },

            ],

        });

        $.ajax({
            type: "get",
            url: "/getStatus/",
            success: function (dataSet) {
                console.log(dataSet)
                for (let i = 0; i < dataSet.length; i++) {
                    dataSet[i].No = i + 1
                }

                //clear DataTable
                CurrentTable.clear();
                //display modified JSON in DataTable
                CurrentTable.rows.add(dataSet).draw();

            }
        });
    }

</script>

<body>
    <nav class="navbar navbar-expand-md navbar-light navBG sticky-top">
        <div class="container-fluid">
          <!-- Insert LOGO on the nav -->
          <a class="navbar-brand" href="/"><img src="img/NavLogo.png"></img></a>
          <!-- Menu Icon -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Creating menus link -->
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <!-- ml-auto will move links to the right side of navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- active is to highlight -->
              <li class="nav-item active">
                <a class="nav-link" href="/">หน้าหลัก</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/searchParking">ค้นหาที่จอดรถ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signUp">สนใจเป็นผู้ให้เช่าที่จอดรถ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/signIn">เข้าสู่ระบบ</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="row centered">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="jumbotron jumbotron text-white">
                <div class="container row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h2>ตรวจสอบสถานะที่จอดรถ</h2>
                        <button class="btn btn-success" id="btnReload">โหลดข้อมูลใหม่</button>
                        <table class="table table-striped table-bordered mt-5" style="width:100%"></table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

  <!--- Footer -->
  <footer>
    <div class="container-fluid mt-5 navBG">
      <div class="row text-center">
        <div class="col-md-4 mt-1">
          <a href="/"> <img src="img/NavLogo.png"></img></a>
          <hr class="dark">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FEz-Parking-100529508543981%2F&tabs=timeline&width=340&height=300&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
            width="340" height="300" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
        <div class="col-md-4">
          <hr class="dark">
          <h5 class="text-dark">ติดต่อสอบถามเรา</h5>
          <hr class="dark">
          <p class="text-dark">Facebook: Ez Parking</p>
        </div>
        <div class="col-md-4">
          <hr class="dark">
          <h5 class="text-dark">ชั่วโมงการติดต่อ</h5>
          <hr class="dark">
          <p class="text-dark">จ-ศ: 9:00-16:00</p>

        </div>
        <div class="col-12">
          <hr class="dark">
          <h5 class="text-dark">&copy; ezparkingthailand.space</h5>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>
<style>
    body {
        display: table;
        width: 100%;
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/parkingspace.jpg');
        background-position: center top;
        height: 350px;
    }

    .jumbotron {
        background-color: gray
    }

    .centered {
        position: relative;
        top: 100px;
    }
</style>